<?xml version="1.0"?>
<launch>

    <!-- Launch the websocket server (communication via roslib) -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Start the simple webserver to handle static files -->
    <node pkg="teleop_twist_web" type="webserver.py" name="teleop_twist_web" output="screen">
        <param name="port" value="8000" />
        <rosparam param="index_names">
            - index.html
        </rosparam>
    </node>

</launch>
